swiper{
  width: 90%;
  height: 40vh;
  display: block;
  overflow: hidden;
  margin-top:30px;
}
.imgBox{
  display: flex;
  flex-flow: row;
  justify-content: center;
}
img{
  width: 70%;
  min-width: 300px;
}
