.course{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 30px;
}

.example-card{
  width: 20%;
  min-width: 300px;
  margin: 30px;
  overflow: hidden;
  position:relative;
}
.example-card img{
  display: block;
  width: 100%;
}
.imgBox{
  transform:scale(1,1);transition: all .3s ease-out;
}
.imgBox:hover{
  transform:scale(1.2,1.2);
}

.imgBox .img-tip{
  position:absolute;
  width: 50%;
  background-color: #888888;
  color: white;
  top:50%;
  right: 50%;
  transform:translate(50%,-50%);
  opacity: .7;
  line-height: 100%;
  text-align: center;
  align-items: center;
  font-size: 30px;
}
