<app-swiper></app-swiper>
  <div class="course">
    <div [routerLink]="['/product','category-A']" class="example-card">
      <div class="imgBox">
        <img  src="https://media.nature.com/lw800/magazine-assets/d41586-020-01430-5/d41586-020-01430-5_17977552.jpg" alt="Photo of a Shiba Inu">
        <div class="img-tip">category-A</div>
      </div>
    </div>
    <div [routerLink]="['/product','category-B']" class="example-card">
      <div class="imgBox">
        <img  src="https://media.nature.com/lw800/magazine-assets/d41586-020-01430-5/d41586-020-01430-5_17977552.jpg" alt="Photo of a Shiba Inu">
        <div class="img-tip">category-B</div>
      </div>
    </div>
    <div [routerLink]="['/product','category-C']" class="example-card">
      <div class="imgBox">
        <img  src="https://media.nature.com/lw800/magazine-assets/d41586-020-01430-5/d41586-020-01430-5_17977552.jpg" alt="Photo of a Shiba Inu">
        <div class="img-tip">category-C</div>
      </div>
    </div>
  </div>
