<div class="container">
  <div class="option">
    <mat-form-field appearance="fill">
      <mat-label>sort</mat-label>
      <mat-select id="select" (selectionChange)="sort()">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-drawer-container style="display:block;min-height: 80vh">
    <mat-drawer  mode="side" opened>
      <div class="price">
        <h2>Price</h2>
      <mat-form-field>
        <mat-label matPrefix>$</mat-label>
        <input #priceMin matInput  type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label matPrefix>$</mat-label>
        <input #priceMax matInput type="text">
      </mat-form-field>
      <button mat-mini-fab color="accent" (click)="priceFilter(priceMin.value,priceMax.value)">
        <mat-icon>check</mat-icon>
      </button>
    </div>
      <div class="rate">
        <h2>Rate</h2>
        <div class="rate-mini" style="color: darkorange">
       <div>
         <mat-icon>grade</mat-icon>
         <mat-icon>grade</mat-icon>
         <mat-icon>grade</mat-icon>
         <mat-icon>grade</mat-icon>
         <mat-icon>grade</mat-icon>
       </div>
          <button (click)="rateFilter(5)">up</button>
        </div>
        <div class="rate-mini" style="color: darkorange">
          <div>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon style="color: #e6ebf1">grade</mat-icon>
          </div>
          <button (click)="rateFilter(4)">up</button>
        </div>
        <div class="rate-mini" style="color: darkorange">
          <div>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon style="color: #e6ebf1">grade</mat-icon>
            <mat-icon style="color: #e6ebf1">grade</mat-icon>
          </div>
          <button (click)="rateFilter(3)">up</button>
        </div>
      </div>
    </mat-drawer>
    <!--this is dog list-->
    <mat-drawer-content>
      <mat-card [routerLink]="['/detail',detail.id]" *ngFor="let detail of details" class="example-card"  >
        <mat-card-header>
          <mat-card-title>{{detail.title}}</mat-card-title>
          <mat-card-subtitle>{{detail.category}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{detail.imgUrl}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="price"><p>price:</p><h2>${{detail.price}}</h2></div>
          <div class="rate-mini">
            <div *ngFor="let rate of detail.rate">
               <mat-icon [ngStyle]="{'color': rate.black ? '#e6ebf1':'darkorange'}">{{rate.name}}</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-drawer-content>
  </mat-drawer-container>
</div>'


